body {
  background-color: #0d192c;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 350px;
  height: 596px;
  border-radius: 15px;
  background-color: #15263f;
  padding-left: 24px;
  padding-top: 24px;
  padding-right: 24px;
  box-sizing: border-box;
}

img {
  width: 302px;
  height: 302px;
}

h1 {
  font-size: 22px;
  color: white;
  margin-top: 24px;
  margin-bottom: 0px;
}

p {
  font-size: 18px;
  color: #8bacd9;
  margin-top: 16px;
  margin-bottom: 0px;
  line-height: 26px;
}

.icon1 {
  width: 11px;
  height: 18px;
}
.icon2 {
  width: 16px;
  height: 16px;
}

span {
  color: white;
}

.infoDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.price {
  color: #00fff8;
}
.time {
    color: #8bacd9;
}
.teext {
  margin-bottom: 10px;
}